<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hepai.test">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MediaMuxerTestActivity" />
        <activity android:name=".AudioRecordingSample.AudioRecordPlayActivity" />
        <activity android:name=".CameraActivity" />
        <activity android:name=".AudioActivity" />
        <activity android:name=".openGL.LessonOneActivity" />
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".MuxerAudioVideoActivity" />
        <activity android:name=".Text2Pic.TestActivity" />
        <activity android:name=".gaussBlur.GaussBlurActivity" />
        <activity android:name=".FirstPicDV.PhotoAlbumActivity"></activity>
        <activity android:name=".MediaCodec.MediaCodecTestActivity"></activity>
        <activity android:name=".VideoEdit.VideaEditActivity"></activity>
        <activity android:name=".VideoEdit1.VideaEditActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AudioRecordingSample.RecordActivity"></activity>
        <activity android:name=".MediaAudioRecord.AudioRecordActivity"></activity>
        <activity android:name="com.hepai.test.OpenGLES2.Sample3_1Activity">

        </activity>


        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>
